*.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
div.nav-top {
  position: static;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #669966;
  border: 0px;
  margin: 0px;
}
div.timeline {
  position: relative;
  width: 100%;
  overflow: hidden;
}
div.timeline .date {
  width: 4em;
}
div.timeline .time {
  position: absolute;
  float: left;
  background-color: #99CC99;
  width: 3em;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}
#op-cursor {
  position: absolute;
  background-color: #DDDDDD;
  z-index: 1;
}
input {
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
body {
  margin: 0px;
}
div {
  text-align: center;
  color: #194B4B;
}
#login-div {
  position: fixed;
  left: 50%;
  margin-left: -10em;
  top: 50%;
  margin-top: -1em;
}
#loginName {
  width: 20em;
  height: 2em;
  margin: 0.5em;
  /*.hcenter(-0.5 * @input-width);*/
  /*.vcenter(-1.5 * @input-height);*/
}
#loginPassword {
  width: 20em;
  height: 2em;
  margin: 0.5em;
  /*.hcenter(-0.5 * @input-width);*/
  /*.vcenter(0.5 * @input-height);*/
}
#loginHint {
  margin: 0.5em;
}
