div.timeline {
  position: static;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #b3b3b3;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
input {
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
body {
  margin: 0px;
}
#login-div {
  position: fixed;
  left: 50%;
  margin-left: -10em;
  top: 50%;
  margin-top: -1em;
}
#loginName {
  width: 20em;
  height: 2em;
  margin: 0.5em;
  /*.hcenter(-0.5 * @input-width);*/
  /*.vcenter(-1.5 * @input-height);*/
}
#loginPassword {
  width: 20em;
  height: 2em;
  margin: 0.5em;
  /*.hcenter(-0.5 * @input-width);*/
  /*.vcenter(0.5 * @input-height);*/
}
#loginHint {
  margin: 0.5em;
}
