<div class="container">
  <form ng-submit="trySignup()" class="form-signin" role="form">
    <h2 class="form-signin-heading">Create account</h2>
    <input type="text" class="form-control" placeholder="Account name" required="" autofocus="" ng-model="loginName">
    <input type="text" class="form-control" placeholder="Your name" required="" ng-model="realName">
    <input type="password" class="form-control" placeholder="Password" required="" ng-model="loginPassword">
    <input id="conpassword" type="password" class="form-control" placeholder="Confirm password" required="" ng-model="confirmPassword">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up and in</button>
  </form>
</div>
