<div class="container">
  <ul class="nav nav-pills nav-justified date-nav">
    <li ng-class="{active: $index==3}" ng-repeat="nav in navs"><a href="{{nav.href}}">{{nav.text}}</a></li>
  </ul>
  <div class="row">
    <div class="col-md-6" ng-show="showEdit()">
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows=30 ng-model="report.content"></textarea>
        </div>
        <button id="draft-report-btn" ng-click="draft()" class="btn btn-primary">Draft</button>
        <button ng-click="back()" class="btn btn-default">Back</button>
        <button ng-click="publish()" class="btn btn-warning pull-right">Publish</button>
      </form>
    </div>
    <div class="col-md-{{previewWidth()}}">
      <div class="well" id="preview"></div>
    </div>
  </div>
</div>
