<div class="container">
<table class="table">
	<tr ng-repeat="group in groups">
		<td class="col-md-10">
			<h5>
				<a href="#/groups/{{group.name}}/settings">{{group.name}}</a>
			</h5>
		</td>
		<td ng-if="group.belongs_to" class="col-md-2">
			<button ng-click="leaveGroup(group.name)" type="button" class="btn btn-danger btn-sm pull-right">Leave</button>
		</td>
		<td ng-if="! group.belongs_to" class="col-md-2">
			<button ng-click="joinGroup(group.name)" type="button" class="btn btn-success btn-sm pull-right">Join</button>
		</td>
	</tr>
</table>
</div>