<div class="container">
<h2>
    <a href="#/my_daily_reports/{{todaysReport.date}}">Today's report</a>
    <span class="label label-default">{{todaysReport.status}}</span>
    <a href="#/report_list" class="pull-right">Report List</a>
</h2>

<div class="news-board">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm pull-right on-well" ng-click="showBlock=!showBlock">
                <i class="fa fa-eye"></i> Watching
            </button>
            <div class="popover" ng-show="showBlock">
              <div class="popover-content">
                <table class="table table-condensed">
                  <tr ng-repeat="user in watchedUsers" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <td>{{user.name}}</td>
                    <td>
                        <i class="fa cursor-pointer fa-envelope" ng-if="user.mailing" ng-click="user.mailing = !user.mailing;"></i>
                        <i class="fa cursor-pointer fa-envelope-o" ng-if="!user.mailing" ng-click="user.mailing = !user.mailing;" ng-visible="hover"></i>
                    </td>
                    <td><i class="fa fa-times cursor-pointer" ng-visible="hover" ng-click="unwatchUser(user)"></i></td>
                  </tr>
                </table>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Add user" ng-model="targetUser" typeahead="user.realname for user in unwatchedUsers | filter:$viewValue | limitTo:8" typeahead-on-select="watchUser($item, $model, $label)">
                </div>
              </div>
            </div>
        </div>

    <div class="well">
        <p ng-repeat="report in publishedReports"><a href="#/published_daily_reports/{{report.user.name}}/{{report.date}}">{{report.user.realname}} published {{report.dateDescription}} at {{report.updated_at | date:'shortTime'}}</a></p>
    </div>
</div>
</div>
