<div class="container">
    <form class="form-inline" role="form">
      <div class="form-group">
          <input type="text" class="form-control" ng-model="user" typeahead="u.realname for u in users | filter:$viewValue | limitTo:8" typeahead-on-select="fetchReports()">
      </div>
      <div class="form-group">
        <label for="period">Period</label>
        <select class="form-control" id="period" ng-model="period" ng-change="fetchReports()">
            <option value="tweek">This Week</option>
            <option value="tmonth">This Month</option>
            <option value="lweek">Last Week</option>
            <option value="lmonth">Last Month</option>
        </select>
      </div>
    </form>
    <br>
    <label ng-repeat-start="report in reports">{{report.date | date:'mediumDate'}}</label>
    <div class="well preview" ng-bind-html="report.formattedContent" ng-repeat-end>
    </div>
</div>