<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">User Information</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" ng-submit="updateUser()">
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Account</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control disabled" id="name" placeholder="Enter name" ng-model="user.name" required="" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="user.realname" required="">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email" required="">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" id="update-user-btn">Save</button>
               </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Reset Password</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" ng-submit="resetPassword()" name="resetPassForm">

              <div class="form-group" id="password">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="password" class="form-control" placeholder="New password" ng-model="newPassword" equals="{{confirmPassword}}" required>
                </div>
              </div>
              <div class="form-group"  ng-class="{'has-error': resetPassForm.conpassword.$error.equals}">
                <div class="col-sm-offset-2 col-sm-10">
                  <input type="password" class="form-control" placeholder="Confirm password" ng-model="confirmPassword" equals="{{newPassword}}" required="" name="conpassword">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-warning" id="reset-pass-btn" ng-disabled="resetPassForm.$invalid">Reset</button>
               </div>
              </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>