

@import "color.less";

// useful functions
.border-radius (@radius: 0.5em) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.hcenter(@offset: 0em) {
  left: 50%;
  margin-left: @offset;
}


.vcenter(@offset: 0em) {
  top: 50%;
  margin-top: @offset;
}


// custome class style

.float-left {
  float: left;
}

.float-right {
  float: right;
}

div.nav-top {
  position: static;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #669966;
  border: 0px;
  margin: 0px;
}

div.timeline {
  position: relative;
  width: 100%;
  overflow: hidden;
}

div.timeline .date {
  width: 4em;
}

div.timeline .time {
  position: relative;
  float: left;
  background-color: #99CC99;
  width: 3em;
  .border-radius(0.4em);
}

// standard default tag style
input {
  .border-radius
}

body {
  margin: 0px;
}

div {
  text-align: center;
  color: #194B4B;
}
